
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#perfil{
   max-width: 380px;
   margin: auto;
   display: block;
   box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
   0 0  0 2px rgb(255,255,255),
   0.3em 0.3em 1em rgba(0,0,0,0.3);
   margin-top: 3rem;
   border-radius: 1rem;
   background-color: antiquewhite;
}

.inf{
  padding: 2rem;
  max-width: 700px;
  margin: auto;
  border-radius: 2rem;

}
span{
    color: red;
}
.img{
    max-width: 900px;
    margin: auto;
    display: grid;
   align-items: center;

}
img{
    width: 90%;
    padding: 1.2rem;
  
}

@media (min-width: 700px) {
    #perfil{
        background-color: antiquewhite;
        max-width: 700px;
        margin: auto;
        display: flex;
        flex-direction: row;
        border-radius: 0;
        margin-top: 2rem;
        height: 25rem;
        border-radius: 2rem;
     }
     #perfil:nth-child(even){
        background-color: antiquewhite;
        max-width: 700px;
        margin: auto;
        display: flex;
        flex-direction: row-reverse;
        border-radius: 0;
       margin-top: 2rem;
       height: 25rem;
       border-radius: 2rem;
}
     .inf{
        padding: 1rem;
        max-width: 700px;
        margin: auto;
        border-radius: 2rem;
        
      }
      span{
          color: red;
      }
      .img{
          max-width: 700px;
          margin: auto;
          display: flex;
         align-items: center;
         width: 20rem;
      
      }
      img{
          width: 90%;
          padding: 1rem;
        
      }
    }